@keyframes falling-appear{
    from{
        transform: translateY(-100%);
    }

    to{
        transform: translateY(0);
    }
}

@keyframes fading-in-appear{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes scale-in-appear{
    from{
        transform: scale(95%);
    }

    to{
        transform: scale(100%);
    }
}

@keyframes insert-course{
    from{
        border-left: 1px solid black;
    }

    50%{
        border-left: 1px solid transparent;
    }

    to {
        border-left: 1px solid black;
    }
}

@keyframes overwrite-course {
    from {
        border-bottom: 1px solid black;
    }

    50% {
        border-bottom: 1px solid transparent;
    }

    to {
        border-bottom: 1px solid black;
    }
}