@mixin slim-scroll-bar {
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: rgb(180, 180, 180);
        //box-shadow: 0 2px 3px 0px #9B9B9B;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgb(190, 190, 190);
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: rgb(200, 200, 200);
    }

    &::-webkit-scrollbar-track {
        background-color: rgb(230, 230, 230);
        border-radius: 3px;
    }
}
