$navbar-bkg:linear-gradient(to left, #00c6fb 0%, #005bea 100%);
$navbar-text-color:rgb(0,131,240);

$navbar-management-bkg: linear-gradient(to right, #11998e, #38ef7d);
$navbar-management-text-color: #11998e;

$content-bkg-color:#f8f9fa;

$alert-background-color: #cff4fc;
$alert-text-color: #055160;
$alert-border-color: #b6effb;