.divKey{
    font-size: 10px;
    text-align: center;
    line-height: 2.5em;
    width: 3.2em;
    height: 2em;

    background-image: linear-gradient(135deg, #2e2e2e, #000000);
    border-radius: 10px;
}