.divBasicKeys {
    box-sizing: border-box;
    width: 100%;
    height: 33%;

    padding: 12px 15px 15px 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    >div{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        height: 18%;
    }
}