@import "common/common";
@import "common/layout";
@import "common/anims";

.divDialogWall {
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    @include full-parent-size;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: $z-index-dialog-wall;

    animation-name: fading-in-appear;
    animation-fill-mode: backwards; // apply opacity when waiting for delay.
    animation-duration: 0.5s;
    //animation-delay: .3s;
}

.divDialogWrapper {
    width: fit-content;
    max-width: $dialog-max-width;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.50);
    border-radius: 10px;

    animation-name: scale-in-appear;
    animation-fill-mode: backwards;
    animation-duration: 0.2s;
}

.divDialogTitleBar {
    height: 32px;
    padding: 0 8px;
    background-color: rgb(243, 243, 243);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lblDialogTitle {
    font-size: 15px;
    color: rgb(102, 102, 102);
}

.divDialogContentWrapper {
    font-size: 13px;
    max-height: $dialog-max-height;
    overflow-y: auto;
    @include slim-scroll-bar;
}

.divYesNoWrapper {
    margin-top: 10px;

    padding: 10px;
    padding-top: 0;

    display: flex;
    justify-content: flex-end;
}
