.divFuncKeys {
    box-sizing: border-box;
    width: 100%;
    height: 27%;
    padding: 10px 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    >div:first-child {
        display: flex;
        justify-content: space-between;
        height: 16%;
        
        >div{
            width: 31%;
            display: flex;
            justify-content: space-between;
        }
    }

    >div:not(:first-child) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        height: 16%;
    }
}