.divPanelWrapper{
    position: relative;
    width: m#{i}n(100%,50vh);
    height: 100%;
    background-color: #EAECF3;
    border-radius: 10px;

    [role="key"]{
        cursor: pointer;
        user-select: none;
        box-shadow: inset 1px 1px 1px 0px rgb(255 255 255 / 80%), inset -1px -1px 1px 0px rgb(40 49 85 / 30%), 1px 1px 3px 0px rgb(40 49 85 / 10%);
    }

    [role="kl"]{
        user-select: none;
        text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
    }
}
