.divSysKeys {
    width: 100%;
    height: 6%;

    display: flex;
    justify-content: space-between;

    > div:not(:last-child) {
        width: 35%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}
